$black: #000000;
$white: #ffffff;

$text-main: #2c2738;
$text-light: #756f86;
$text-lighter: #e5e5e5;
$text-blue: #0880ae;
$text-light-blue: #7c9cbf;
$text-disable: #b1b5bf;
$text-error: #ff7171;

$input-border-color: #dbe2ea;
$input-border-focus-color: #0880ae;
$input-shadow-color: rgba(44, 39, 56, 0.04);

$btn-bg: #0880ae;
$btn-shadow: 0px 2px 4px rgba(44, 39, 56, 0.08), 0px 4px 8px rgba(44, 39, 56, 0.08);
$btn-shadow-hover: 0px 12px 24px rgba(44, 39, 56, 0.08), 0px 24px 48px rgba(44, 39, 56, 0.16);
$btn-border-active: rgba(44, 39, 56, 0.86);
$btn-bg-disabled: #dbe2ea;

$select-body-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04), 0px 20px 20px rgba(44, 39, 56, 0.04);
$select-body-border: #dbe2ea;
$select-item-active: #ebf4f8;
